.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  color: white;
  font-size: 0.5rem;
  font-weight: 100;
  background-color: rgb(254, 83, 149);
  padding: 5px 10px;
  margin: 0;
}

.icons-container {
  display: flex;
  gap: 15px;
}

.material-symbols-outlined {
  font-size: 1.2rem;
}

.map {
  background-color: rgb(208, 67, 120);
}

.map img {
  width: 100vw;
}
